/* Test sass file */

/* class definitions */
.container {
    width: 100%;
    height: 800px;
}

/* full screen */
.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:-ms-fullscreen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}

/* div definitions */
#map {
    height: 100%;
    width: 100%;
}
